{
    "auth_url": "https://example.com:5000/v3",
    "username": "admin",
    "password": "password123",
    "project_name": "admin",
    "project_domain_name": "Default",
    "user_domain_name": "Default",
    "concertim_url": "https://command.concertim.alces-flight.com/",
    "concertim_username": "admin"
    "concertim_password": "admin"
    "log_level": "DEBUG"
}
